site_name: JokerPlus Documentation
site_description: Documentation for JokerPlus
site_author: Your Name

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search

nav:
  - Home:
    - Introduction: index.md
    - Version History: version.md
  - Encryption: encryption.md
  - API Endpoints:
    - On Boarding: api/onboarding.md
    - Account Settings: api/account_settings.md
    - Security: api/security.md
    - Wallet: api/wallet.md
    - Lottery: api/4d.md
    - Lucky Seven: api/lucky_seven.md
    - Chat: api/chat.md
    - Beta Mission: api/beta_mission.md
    - Feedback: api/feedback.md
    - Soccer: api/soccer.md
    - VIP Benefit: api/vip_benefit.md
    - Customer Service: api/customer_service.md
    - Slots: api/slots.md
    - Live Casino: api/live_casino.md
  - Reference:
    - Code Reference: reference/error_codes.md
    - Glossary: reference/glossary.md
